/* for VM order page	*/
$fontByDefault:Verdana, Tahoma;
$fontSecond:Arial,Helvetica,Sans-serif;
$colorByDefault:#666;
$colorDarkGreen:#174D33;
$colorDarkest:#1D1616;
*{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}
nav{
	*{
		box-sizing:content-box;
		-moz-box-sizing:content-box;
	}
}
fieldset{
	width: 100%;
}
form{
	&.product{
		&.js-recalculate{
			input[name="quantity[]"]{
				height: 26px;
			}
		}
	}
}
/*	*/
.buttonGray{
	background: url(../images/bg_button.png);
	border:solid 1px #ccc;
	box-shadow: none;
	height: 40px;
	padding: 0 10px;
}
.clearfix{
	clear: both;
}
.inline{
	display: inline;
}
.inputText{
	&[type="text"],
	&[type="password"]{
		border: solid 1px #999;
		border-radius: 3px;
		padding:2px 4px;
		width: auto;
	}
}
.req{
	td{
		&:first-child{
			label{
				&:after{
					content:" *";
				}
			}
		}
	}
}
.twoSections{
	width: 50%;
	&:first-child{
		float:left;
	}
	&:last-child{
		float:right;
	}
}
.vmpayment_name{
	font-weight: bold;
}
#log-in{
	background-color: #FFF;
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 40px 2px;
	font-family: $fontByDefault;
	padding: 10px;
	position: absolute;
	z-index: 500;
	input{
		@extend inputText;
	}
}
#login_form_box{
	display: none;
}
ul#stages_path{
	display: table;
	margin-bottom: 40px;
	max-width: 890px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	li{
		display: table-cell;
		list-style: none;
		font-family: Verdana;
		font-size: 17px;
		font-weight: bold;
		opacity: 0.15;
		text-align: center;
		text-transform: uppercase;
		span{
			background-color: #000;
			border-radius: 16px;
			color: #FFF;
			font-size: 17px;
			font-weight: bold;
			line-height: 13px;
			padding: 5px 10px;
			width: 22px;
		}
	}
}
.warning{
	background-color: lightyellow;
	border-radius: 3px;
	border-radius: 1px;
	box-shadow: 2px 2px 10px;
	padding: 10px;
	position: absolute;
	text-align: left;
	div{
		&.content{
			line-height: 16px;
		}
		&.close{
			background-color: #666;
			border-radius: 10px;
			color: #FFF;
			cursor: pointer;
			float: right;
			line-height: 15px;
			margin-top: -14px;
			margin-right: -20px;
			padding: 3px 7px;
		}
	}
}
#checkoutForm{
	button{
		&.psbutton{
			@extend .buttonGray;
			&:hover{
				&:not([id^="btn_conferma"]){
					color:brown;
					font-size:14px;
				}
			}
		}
		&[id^="btn_conferma"]{
			font-family: $fontByDefault;
				font-size:14px;
				font-weight: bold;
			&#btn_conferma{
				display: none;
			}
			margin-top: 20px;
			padding: 0 40px;		
		}		
	}
	h2{
		color: black;
		font-family: Tahoma, Arial, Helvetica, Sans-Serif;
	}
	label{
		background: #f6f6f6;
		display: block;
		margin-bottom: 6px;
		padding: 10px;
		width: 360px;
		&[for="tosAccepted"]{
			position: relative;
		}
	}
	#cart-summary_block{
		table{
			tbody{
				tr{
					td{
						padding: 4px 6px;
					}
				}
			}
		}
	}
	#main_payment_form,
	#initial_choices,
	#payment_way{
		display: none;
	}
	#payment_way{
		.go_inside{
			input[type="radio"]{

			}
			label{
				clear: both;
				display: none;
				float: left;
			}
		}
	}
	div{
		&.art-layout-wrapper{
			margin: 0;
		}
		&.art-sheet{
			margin-left: -22px;
		}
		&#btn_main_form_commands{
			text-align: right;
		}
		&.control-buttons{
			div{
				@extend .twoSections;
				text-align: left;
				&:first-child{
					
				}
				&:last-child{
					white-space: nowrap;
					button{
						@extend .buttonGray;
						border-radius: 2px;
						color:$colorDarkest;
						font-size: 14px;
						font-family: $fontSecond;
						font-weight: bold;				
						height: 42px;	
						padding: 0 20px;
					}
				}				
			}
		}
		/*#checkout_block{
			display: none;
		}*/
		&.checkout-button-top{
			line-height: 63px;
			a.vm-button-correct{
				border:solid 1px #ccc;
				box-shadow: none;
				color: transparent;
				height: 63px;
				padding: 0 10px;	
			}
			#checkout_radios{
				display: none;
				position: relative;
			}
			label{
				background: transparent;
				display: inline;
			}
		}
	}
}
#facebox{ /* popup */
	min-width: 486px;
	.popup{
		.content{
			padding: 18px;
			&.my-groovy-style{
				&>div{
					font-family: $fontByDefault;
					margin: 31px 24px;
					div{
						clear: both;
						color: $colorByDefault;
						font-family: $fontSecond;
						font-size: 18px;
						padding-top:56px;					
					}
					h4{
						color: $colorDarkGreen;
						/*display: inline;*/
						font-family: $fontSecond;
						font-size: 19px;
						margin-top: 23px;
					}
					a{
						border: solid 1px #CCC;
						border-radius: 2px;
						box-shadow: 0 0 6px #CCC inset;
						color: #666;
						font-family: Verdana, Tahoma;
						font-weight: bold;
						line-height: 53px;
						margin-top: -5px;
						margin-left: -4px;
						padding: 0 18px;
						text-align: center;
						text-decoration: none;
						&.continue{
							float: left;
							margin-right: 111px;
							min-width: 240px;
						}
						&.showcart{
							background-image: url(../../../media/media/images/cart.png);
							background-position: 210px 12px;
							background-repeat: no-repeat; 
							float: right;
							min-width: 260px;
							padding-left: 22px;	
							text-align: left;					
						}
					}
				}
			}
		} 		
	}
	a.close{
		background-color: #000;
		border-radius: 53px;
		border: solid 2px;
		color: #FFF;
		font-family: Arial;
		font-weight: bold;
		font-size: 37px !important;
		height: 53px;
		line-height: 40px;
		opacity: 1;
		right: -18px;
		text-decoration: none;
		text-align: center;
		top: -18px;
		width: 53px;
		&:after{
			content:"x";
		}
		&:hover{
			background-color: #333;
		}
	}
}
input{
	@extend .inputText;
}
.spacer-buy-area{
	input.js-recalculate{
		border: solid 2px #636363;
		border-radius: 15px;
		padding:8px 0;
		width: 27px;
	}
}
#summary_box{
	display:none;
	margin: auto;
	width: 80%;
	&:after{
		content: " ";
		clear: both;
		display: block;
		margin-bottom: 65px;
	}
	button{
		@extend .buttonGray;
	}
	&>div{
		@extend	.twoSections;
		min-height: 194px;
		position: relative;
		width: 45%;
		span{
			display: block;
			height: 15px;
		}
	}
	button{
		bottom: 0;
		font-weight: bold;
		left: 0;
		margin: 0;
		position: absolute;
		right: 0;
	}
	h2{
		margin-bottom: 22px;
	}
}
/*	Debug styles
#facebox{
	background: url('../../../../_docs/positioning_pics/page1.png');
	.content{
		background: none;
	}
}*/
.test_box{
	background-color: lightyellow;
	box-shadow: 0 0 10px 0 #666;
	cursor: default;
	left: 0;
	max-width: 100%;
	min-height: 40px;
	position: fixed;
	top:0;
	z-index: 1000;
	width: auto;
	&>div{
		overflow: auto !important;
		padding: 10px;
	}
}