/* for VM order page	*/
/* line 7, ../../../../_docs/compass_source/sass/style.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 12, ../../../../_docs/compass_source/sass/style.scss */
nav * {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}

/* line 17, ../../../../_docs/compass_source/sass/style.scss */
fieldset {
  width: 100%;
}

/* line 23, ../../../../_docs/compass_source/sass/style.scss */
form.product.js-recalculate input[name="quantity[]"] {
  height: 26px;
}

/*	*/
/* line 30, ../../../../_docs/compass_source/sass/style.scss */
.buttonGray, #checkoutForm button.psbutton, #checkoutForm div.control-buttons div:last-child button, #summary_box button {
  background: url(../images/bg_button.png);
  border: solid 1px #ccc;
  box-shadow: none;
  height: 40px;
  padding: 0 10px;
}

/* line 37, ../../../../_docs/compass_source/sass/style.scss */
.clearfix {
  clear: both;
}

/* line 40, ../../../../_docs/compass_source/sass/style.scss */
.inline {
  display: inline;
}

/* line 45, ../../../../_docs/compass_source/sass/style.scss */
.inputText[type="text"], input[type="text"], .inputText[type="password"], input[type="password"] {
  border: solid 1px #999;
  border-radius: 3px;
  padding: 2px 4px;
  width: auto;
}

/* line 56, ../../../../_docs/compass_source/sass/style.scss */
.req td:first-child label:after {
  content: " *";
}

/* line 63, ../../../../_docs/compass_source/sass/style.scss */
.twoSections, #checkoutForm div.control-buttons div, #summary_box > div {
  width: 50%;
}
/* line 65, ../../../../_docs/compass_source/sass/style.scss */
.twoSections:first-child, #checkoutForm div.control-buttons div:first-child, #summary_box > div:first-child {
  float: left;
}
/* line 68, ../../../../_docs/compass_source/sass/style.scss */
.twoSections:last-child, #checkoutForm div.control-buttons div:last-child, #summary_box > div:last-child {
  float: right;
}

/* line 72, ../../../../_docs/compass_source/sass/style.scss */
.vmpayment_name {
  font-weight: bold;
}

/* line 75, ../../../../_docs/compass_source/sass/style.scss */
#log-in {
  background-color: #FFF;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 40px 2px;
  font-family: Verdana, Tahoma;
  padding: 10px;
  position: absolute;
  z-index: 500;
}

/* line 87, ../../../../_docs/compass_source/sass/style.scss */
#login_form_box {
  display: none;
}

/* line 90, ../../../../_docs/compass_source/sass/style.scss */
ul#stages_path {
  display: table;
  margin-bottom: 40px;
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* line 97, ../../../../_docs/compass_source/sass/style.scss */
ul#stages_path li {
  display: table-cell;
  list-style: none;
  font-family: Verdana;
  font-size: 17px;
  font-weight: bold;
  opacity: 0.15;
  text-align: center;
  text-transform: uppercase;
}
/* line 106, ../../../../_docs/compass_source/sass/style.scss */
ul#stages_path li span {
  background-color: #000;
  border-radius: 16px;
  color: #FFF;
  font-size: 17px;
  font-weight: bold;
  line-height: 13px;
  padding: 5px 10px;
  width: 22px;
}

/* line 118, ../../../../_docs/compass_source/sass/style.scss */
.warning {
  background-color: lightyellow;
  border-radius: 3px;
  border-radius: 1px;
  box-shadow: 2px 2px 10px;
  padding: 10px;
  position: absolute;
  text-align: left;
}
/* line 127, ../../../../_docs/compass_source/sass/style.scss */
.warning div.content {
  line-height: 16px;
}
/* line 130, ../../../../_docs/compass_source/sass/style.scss */
.warning div.close {
  background-color: #666;
  border-radius: 10px;
  color: #FFF;
  cursor: pointer;
  float: right;
  line-height: 15px;
  margin-top: -14px;
  margin-right: -20px;
  padding: 3px 7px;
}

/* line 148, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm button.psbutton:hover:not([id^="btn_conferma"]) {
  color: brown;
  font-size: 14px;
}
/* line 154, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm button[id^="btn_conferma"] {
  font-family: Verdana, Tahoma;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  padding: 0 40px;
}
/* line 158, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm button[id^="btn_conferma"]#btn_conferma {
  display: none;
}
/* line 165, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm h2 {
  color: black;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}
/* line 169, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm label {
  background: #f6f6f6;
  display: block;
  margin-bottom: 6px;
  padding: 10px;
  width: 360px;
}
/* line 175, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm label[for="tosAccepted"] {
  position: relative;
}
/* line 183, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm #cart-summary_block table tbody tr td {
  padding: 4px 6px;
}
/* line 192, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm #main_payment_form,
#checkoutForm #initial_choices,
#checkoutForm #payment_way {
  display: none;
}
/* line 200, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm #payment_way .go_inside label {
  clear: both;
  display: none;
  float: left;
}
/* line 207, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div {
  /*#checkout_block{
  	display: none;
  }*/
}
/* line 208, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div.art-layout-wrapper {
  margin: 0;
}
/* line 211, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div.art-sheet {
  margin-left: -22px;
}
/* line 214, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div#btn_main_form_commands {
  text-align: right;
}
/* line 218, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div.control-buttons div {
  text-align: left;
}
/* line 224, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div.control-buttons div:last-child {
  white-space: nowrap;
}
/* line 226, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div.control-buttons div:last-child button {
  border-radius: 2px;
  color: #1d1616;
  font-size: 14px;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: bold;
  height: 42px;
  padding: 0 20px;
}
/* line 242, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div.checkout-button-top {
  line-height: 63px;
}
/* line 244, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div.checkout-button-top a.vm-button-correct {
  border: solid 1px #ccc;
  box-shadow: none;
  color: transparent;
  height: 63px;
  padding: 0 10px;
}
/* line 251, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div.checkout-button-top #checkout_radios {
  display: none;
  position: relative;
}
/* line 255, ../../../../_docs/compass_source/sass/style.scss */
#checkoutForm div.checkout-button-top label {
  background: transparent;
  display: inline;
}

/* line 262, ../../../../_docs/compass_source/sass/style.scss */
#facebox {
  /* popup */
  min-width: 486px;
}
/* line 265, ../../../../_docs/compass_source/sass/style.scss */
#facebox .popup .content {
  padding: 18px;
}
/* line 268, ../../../../_docs/compass_source/sass/style.scss */
#facebox .popup .content.my-groovy-style > div {
  font-family: Verdana, Tahoma;
  margin: 31px 24px;
}
/* line 271, ../../../../_docs/compass_source/sass/style.scss */
#facebox .popup .content.my-groovy-style > div div {
  clear: both;
  color: #666666;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 18px;
  padding-top: 56px;
}
/* line 278, ../../../../_docs/compass_source/sass/style.scss */
#facebox .popup .content.my-groovy-style > div h4 {
  color: #174d33;
  /*display: inline;*/
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 19px;
  margin-top: 23px;
}
/* line 285, ../../../../_docs/compass_source/sass/style.scss */
#facebox .popup .content.my-groovy-style > div a {
  border: solid 1px #CCC;
  border-radius: 2px;
  box-shadow: 0 0 6px #CCC inset;
  color: #666;
  font-family: Verdana, Tahoma;
  font-weight: bold;
  line-height: 53px;
  margin-top: -5px;
  margin-left: -4px;
  padding: 0 18px;
  text-align: center;
  text-decoration: none;
}
/* line 298, ../../../../_docs/compass_source/sass/style.scss */
#facebox .popup .content.my-groovy-style > div a.continue {
  float: left;
  margin-right: 111px;
  min-width: 240px;
}
/* line 303, ../../../../_docs/compass_source/sass/style.scss */
#facebox .popup .content.my-groovy-style > div a.showcart {
  background-image: url(../../../media/media/images/cart.png);
  background-position: 210px 12px;
  background-repeat: no-repeat;
  float: right;
  min-width: 260px;
  padding-left: 22px;
  text-align: left;
}
/* line 317, ../../../../_docs/compass_source/sass/style.scss */
#facebox a.close {
  background-color: #000;
  border-radius: 53px;
  border: solid 2px;
  color: #FFF;
  font-family: Arial;
  font-weight: bold;
  font-size: 37px !important;
  height: 53px;
  line-height: 40px;
  opacity: 1;
  right: -18px;
  text-decoration: none;
  text-align: center;
  top: -18px;
  width: 53px;
}
/* line 333, ../../../../_docs/compass_source/sass/style.scss */
#facebox a.close:after {
  content: "x";
}
/* line 336, ../../../../_docs/compass_source/sass/style.scss */
#facebox a.close:hover {
  background-color: #333;
}

/* line 345, ../../../../_docs/compass_source/sass/style.scss */
.spacer-buy-area input.js-recalculate {
  border: solid 2px #636363;
  border-radius: 15px;
  padding: 8px 0;
  width: 27px;
}

/* line 352, ../../../../_docs/compass_source/sass/style.scss */
#summary_box {
  display: none;
  margin: auto;
  width: 80%;
}
/* line 356, ../../../../_docs/compass_source/sass/style.scss */
#summary_box:after {
  content: " ";
  clear: both;
  display: block;
  margin-bottom: 65px;
}
/* line 365, ../../../../_docs/compass_source/sass/style.scss */
#summary_box > div {
  min-height: 194px;
  position: relative;
  width: 45%;
}
/* line 370, ../../../../_docs/compass_source/sass/style.scss */
#summary_box > div span {
  display: block;
  height: 15px;
}
/* line 375, ../../../../_docs/compass_source/sass/style.scss */
#summary_box button {
  bottom: 0;
  font-weight: bold;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
}
/* line 383, ../../../../_docs/compass_source/sass/style.scss */
#summary_box h2 {
  margin-bottom: 22px;
}

/*	Debug styles
#facebox{
	background: url('../../../../_docs/positioning_pics/page1.png');
	.content{
		background: none;
	}
}*/
/* line 394, ../../../../_docs/compass_source/sass/style.scss */
.test_box {
  background-color: lightyellow;
  box-shadow: 0 0 10px 0 #666;
  cursor: default;
  left: 0;
  max-width: 100%;
  min-height: 40px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: auto;
}
/* line 405, ../../../../_docs/compass_source/sass/style.scss */
.test_box > div {
  overflow: auto !important;
  padding: 10px;
}
