#art-main
{
  background: #FFFFFF url('../images/page.png') repeat-x scroll;
  margin: 0 auto;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  position: relative;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: hidden;
}

table, ul.art-hmenu
{
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

.art-button
{
  border: 0;
  border-collapse: separate;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  background: #FFFFFF;
  background: linear-gradient(top, #F7F7F7 0, #F7F7F7 50%, #F7F7F7 60%, #E8E8E8 100%) no-repeat;
  background: -webkit-linear-gradient(top, #F7F7F7 0, #F7F7F7 50%, #F7F7F7 60%, #E8E8E8 100%) no-repeat;
  background: -moz-linear-gradient(top, #F7F7F7 0, #F7F7F7 50%, #F7F7F7 60%, #E8E8E8 100%) no-repeat;
  background: -o-linear-gradient(top, #F7F7F7 0, #F7F7F7 50%, #F7F7F7 60%, #E8E8E8 100%) no-repeat;
  background: -ms-linear-gradient(top, #F7F7F7 0, #F7F7F7 50%, #F7F7F7 60%, #E8E8E8 100%) no-repeat;
  background: linear-gradient(top, #F7F7F7 0, #F7F7F7 50%, #F7F7F7 60%, #E8E8E8 100%) no-repeat;
  -svg-background: linear-gradient(top, #F7F7F7 0, #F7F7F7 50%, #F7F7F7 60%, #E8E8E8 100%) no-repeat;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  border-width: 0;
  padding: 0 5px;
  margin: 0 auto;
  height: 23px;
}

.art-postcontent, .art-postheadericons, .art-postfootericons, .art-blockcontent, ul.art-vmenu a
{
  text-align: left;
}

.art-postcontent, .art-postcontent li, .art-postcontent table, .art-postcontent a, .art-postcontent a:link, .art-postcontent a:visited, .art-postcontent a.visited, .art-postcontent a:hover, .art-postcontent a.hovered
{
  font-size: 14px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent p
{
  margin: 12px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover, .art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover, .art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover, .art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover, .art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover, .art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover, .art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover, .art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover, .art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover, .art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover, .art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
  font-size: 32px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

.art-postcontent a, .art-postcontent a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #0094CC;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #0F74B8;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #333333;
}

.art-postcontent h1
{
  color: #1D1616;
  margin: 12px 0;
  font-size: 18px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.art-blockcontent h1
{
  margin: 12px 0;
  font-size: 18px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited
{
  font-size: 18px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.art-postcontent h2
{
  color: #0094CC;
  margin: 0 0 20px;
  font-size: 20px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-blockcontent h2
{
  margin: 0 0 20px;
  font-size: 20px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited
{
  font-size: 20px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h3
{
  color: #184E36;
  margin: 0 0 0 10px;
  font-size: 18px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-blockcontent h3
{
  margin: 0 0 0 10px;
  font-size: 18px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited
{
  font-size: 18px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h4
{
  color: #FFFFFF;
  margin: 5px 0;
  font-size: 16px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-blockcontent h4
{
  margin: 5px 0;
  font-size: 16px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited
{
  font-size: 16px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h5
{
  color: #FFFFFF;
  margin: 26px 0;
  font-size: 14px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-blockcontent h5
{
  margin: 26px 0;
  font-size: 14px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited
{
  font-size: 14px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-postcontent h6
{
  color: #1E1616;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 11px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-blockcontent h6
{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 11px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited
{
  font-size: 11px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
  min-width: 950px;
  color: #1D1616;
}

.art-header:before, #art-header-bg:before, .art-layout-cell:before, .art-layout-wrapper:before, .art-footer:before, .art-nav:before, #art-hmenu-bg:before, .art-sheet:before
{
  width: 100%;
  content: " ";
  display: table;
}

.art-header:after, #art-header-bg:after, .art-layout-cell:after, .art-layout-wrapper:after, .art-footer:after, .art-nav:after, #art-hmenu-bg:after, .art-sheet:after, .cleared, .clearfix:after
{
  clear: both;
  font: 0/0 serif;
  display: block;
  content: " ";
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1
{
  margin: 1px;
}

li h2, .art-postcontent li h2, .art-blockcontent li h2
{
  margin: 1px;
}

li h3, .art-postcontent li h3, .art-blockcontent li h3
{
  margin: 1px;
}

li h4, .art-postcontent li h4, .art-blockcontent li h4
{
  margin: 1px;
}

li h5, .art-postcontent li h5, .art-blockcontent li h5
{
  margin: 1px;
}

li h6, .art-postcontent li h6, .art-blockcontent li h6
{
  margin: 1px;
}

li p, .art-postcontent li p, .art-blockcontent li p
{
  margin: 1px;
}

.art-shapes
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.art-slider-inner
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.art-slidenavigator > a
{
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  font-size: 1px;
}

.art-slidenavigator > a:last-child
{
  margin-right: 0 !important;
}

.art-header
{
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin: 0 auto;
  height: 77px;
  background-image: url('../images/header.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  width: 950px;
  z-index: auto !important;
}

.responsive .art-header
{
  background-image: url('../images/header.png');
  background-position: center center;
}

.art-header>div.art-nostyle, .art-header>div.art-block, .art-header>div.art-post
{
  position: absolute;
  z-index: 101;
}

.art-header .art-slider-inner
{
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.art-nav
{
  background: #FFFFFF;
  margin: 0 auto;
  position: relative;
  z-index: 499;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover
{
  outline: none;
  position: relative;
  z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul.art-hmenu li
{
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

ul.art-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

ul.art-hmenu, ul.art-hmenu ul
{
  min-height: 0;
}

ul.art-hmenu
{
  display: inline-block;
  vertical-align: bottom;
  padding-left: 0;
  padding-right: 0;
}

.art-nav-inner:before
{
  content: ' ';
}

.art-nav-inner
{
  text-align: center;
  margin: 0 auto;
}

.desktop  .art-nav-inner
{
  width: 950px;
  padding-left: 0;
  padding-right: 0;
}

.desktop .art-nav
{
  padding-left: 0;
  padding-right: 0;
}

.art-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
  background-position: center;
}

.art-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: auto;
  background-position: center;
}

.art-menuitemcontainer
{
  margin: 0 auto;
}

ul.art-hmenu>li
{
  margin-left: 4px;
}

ul.art-hmenu>li:first-child
{
  margin-left: 2px;
}

ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child
{
  margin-right: 2px;
}

ul.art-hmenu>li>a
{
  background: #FFFFFF;
  padding: 0 22px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 71px;
  cursor: pointer;
  text-decoration: none;
  color: #272525;
  line-height: 71px;
  text-align: center;
}

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a.active, .art-hmenu a:hover
{
  font-size: 14px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-variant: normal;
  text-align: left;
  text-shadow: 0 0 1px rgb(255, 255, 255);
}

ul.art-hmenu>li>a.active
{
  background: #FFFFFF;
  padding: 0 22px;
  margin: 0 auto;
  color: #272525;
  text-decoration: none;
}

ul.art-hmenu>li>a:visited, ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a
{
  text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
  background: #F5F5F5;
  padding: 0 22px;
  margin: 0 auto;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
  color: #272525;
  text-decoration: none;
}

ul.art-hmenu li li a
{
  background: #EBEBEB;
  background: linear-gradient(top, #F7F7F7 0, #E0E0E0 100%) no-repeat;
  background: -webkit-linear-gradient(top, #F7F7F7 0, #E0E0E0 100%) no-repeat;
  background: -moz-linear-gradient(top, #F7F7F7 0, #E0E0E0 100%) no-repeat;
  background: -o-linear-gradient(top, #F7F7F7 0, #E0E0E0 100%) no-repeat;
  background: -ms-linear-gradient(top, #F7F7F7 0, #E0E0E0 100%) no-repeat;
  background: linear-gradient(top, #F7F7F7 0, #E0E0E0 100%) no-repeat;
  -svg-background: linear-gradient(top, #F7F7F7 0, #E0E0E0 100%) no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px dashed transparent;
  padding: 0 22px;
  margin: 0 auto;
}

ul.art-hmenu li li
{
  float: none;
  width: auto;
  margin-top: 3px;
  margin-bottom: 3px;
}

.desktop ul.art-hmenu li li ul>li:first-child
{
  margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child
{
  margin-bottom: 0;
}

.art-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 28px;
  min-width: 7em;
  border: 1px solid transparent;
  text-align: left;
  line-height: 28px;
  color: #363636;
  font-size: 12px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a.active, .art-hmenu ul a:hover
{
  text-align: left;
  line-height: 28px;
  color: #363636;
  font-size: 12px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

ul.art-hmenu li li:after
{
  display: block;
  position: absolute;
  content: ' ';
  height: 0;
  top: -2px;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #B5B5B5;
}

.desktop ul.art-hmenu li li:first-child:before, .desktop ul.art-hmenu li li:first-child:after
{
  display: none;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
  background: #EBEBEB;
  background: linear-gradient(top, #E0E0E0 0, #F7F7F7 100%) no-repeat;
  background: -webkit-linear-gradient(top, #E0E0E0 0, #F7F7F7 100%) no-repeat;
  background: -moz-linear-gradient(top, #E0E0E0 0, #F7F7F7 100%) no-repeat;
  background: -o-linear-gradient(top, #E0E0E0 0, #F7F7F7 100%) no-repeat;
  background: -ms-linear-gradient(top, #E0E0E0 0, #F7F7F7 100%) no-repeat;
  background: linear-gradient(top, #E0E0E0 0, #F7F7F7 100%) no-repeat;
  -svg-background: linear-gradient(top, #E0E0E0 0, #F7F7F7 100%) no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px dashed transparent;
  margin: 0 auto;
}

.art-hmenu ul li a:hover
{
  color: #757575;
}

.desktop .art-hmenu ul li:hover>a
{
  color: #757575;
}

ul.art-hmenu ul:before
{
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  z-index: 1;
}

.desktop ul.art-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.desktop ul.art-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

ul.art-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url('../images/spacer.gif');
}

.desktop ul.art-hmenu>li>ul
{
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -7px;
}

.desktop ul.art-hmenu ul.art-hmenu-left-to-right
{
  right: auto;
  left: 0;
  margin: -10px 0 0 -30px;
}

.desktop ul.art-hmenu ul.art-hmenu-right-to-left
{
  left: auto;
  right: 0;
  margin: -10px -30px 0 0;
}

.desktop ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right
{
  right: auto;
  left: 100%;
}

.desktop ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left
{
  left: auto;
  right: 100%;
}

.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right
{
  right: auto;
  left: 0;
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -7px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left
{
  left: auto;
  right: 0;
  padding: 30px 10px 30px 30px;
  margin: -30px -7px 0 0;
}

.desktop ul.art-hmenu li ul>li:first-child
{
  margin-top: 0;
}

.desktop ul.art-hmenu li ul>li:last-child
{
  margin-bottom: 0;
}

.desktop ul.art-hmenu ul ul:before
{
  border-radius: 0;
  top: px;
  bottom: px;
  right: px;
  left: px;
}

.desktop ul.art-hmenu>li>ul:before
{
  top: px;
  right: px;
  bottom: px;
  left: px;
}

.desktop ul.art-hmenu>li>ul.art-hmenu-left-to-right:before
{
  right: px;
  left: px;
}

.desktop ul.art-hmenu>li>ul.art-hmenu-right-to-left:before
{
  right: px;
  left: px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-left-to-right:before
{
  right: px;
  left: px;
}

.desktop ul.art-hmenu ul ul.art-hmenu-right-to-left:before
{
  right: px;
  left: px;
}

.art-sheet
{
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto 0;
  position: relative;
  cursor: auto;
  width: 950px;
  z-index: auto !important;
}

.art-layout-wrapper
{
  position: relative;
  margin: 30px auto 0 auto;
  z-index: auto !important;
}

.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
}

.art-content-layout-row
{
  display: table-row;
}

.art-layout-cell
{
  display: table-cell;
  vertical-align: top;
}

.art-postcontent .art-content-layout
{
  border-collapse: collapse;
}

.art-block
{
  margin: 3px;
}

div.art-block img
{
  border: none;
  margin: 0;
}

.art-blockheader
{
  padding: 6px 5px;
  margin: 0 auto;
}

.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover
{
  color: #1E1616;
  font-size: 18px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 10px 0 5px;
}

.art-blockcontent
{
  padding: 5px;
  margin: 0 auto;
  color: #1D1616;
  font-size: 14px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent table, .art-blockcontent li, .art-blockcontent a, .art-blockcontent a:link, .art-blockcontent a:visited, .art-blockcontent a:hover
{
  color: #1D1616;
  font-size: 14px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-blockcontent p
{
  margin: 6px 0;
}

.art-blockcontent a, .art-blockcontent a:link
{
  color: #0094CC;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
  color: #333333;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
  color: #B8B8B8;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-block ul>li:before
{
  content: url('../images/blockbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -12px;
}

.opera .art-block ul>li:before
{
  bottom: 0;
}

.art-block li
{
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 125%;
  color: #000000;
}

.art-block ul>li, .art-block ol
{
  padding: 0;
}

.art-block ul>li
{
  padding-left: 12px;
}

.art-breadcrumbs
{
  margin: 0 auto;
}

a.art-button, a.art-button:link, a:link.art-button:link, body a.art-button:link, a.art-button:visited, body a.art-button:visited, input.art-button, button.art-button
{
  text-decoration: none;
  font-size: 14px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #141414;
  margin: 0 5px 0 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 23px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.art-button img
{
  margin: 0;
  vertical-align: middle;
}

.firefox2 .art-button
{
  display: block;
  float: left;
}

input, select, textarea, a.art-search-button span
{
  vertical-align: middle;
  font-size: 14px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-block select
{
  width: 96%;
}

input.art-button
{
  float: none !important;
}

.art-button.active, .art-button.active:hover
{
  background: #BFBFBF;
  background: linear-gradient(top, #C7C7C7 0, #C7C7C7 50%, #C4C4C4 60%, #B8B8B8 100%) no-repeat;
  background: -webkit-linear-gradient(top, #C7C7C7 0, #C7C7C7 50%, #C4C4C4 60%, #B8B8B8 100%) no-repeat;
  background: -moz-linear-gradient(top, #C7C7C7 0, #C7C7C7 50%, #C4C4C4 60%, #B8B8B8 100%) no-repeat;
  background: -o-linear-gradient(top, #C7C7C7 0, #C7C7C7 50%, #C4C4C4 60%, #B8B8B8 100%) no-repeat;
  background: -ms-linear-gradient(top, #C7C7C7 0, #C7C7C7 50%, #C4C4C4 60%, #B8B8B8 100%) no-repeat;
  background: linear-gradient(top, #C7C7C7 0, #C7C7C7 50%, #C4C4C4 60%, #B8B8B8 100%) no-repeat;
  -svg-background: linear-gradient(top, #C7C7C7 0, #C7C7C7 50%, #C4C4C4 60%, #B8B8B8 100%) no-repeat;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #636363;
  padding: 0 5px;
  margin: 0 auto;
}

.art-button.active, .art-button.active:hover
{
  color: #262626 !important;
}

.art-button.hover, .art-button:hover
{
  background: #EBEBEB;
  background: linear-gradient(top, #E8E8E8 0, #E8E8E8 50%, #E8E8E8 60%, #D9D9D9 100%) no-repeat;
  background: -webkit-linear-gradient(top, #E8E8E8 0, #E8E8E8 50%, #E8E8E8 60%, #D9D9D9 100%) no-repeat;
  background: -moz-linear-gradient(top, #E8E8E8 0, #E8E8E8 50%, #E8E8E8 60%, #D9D9D9 100%) no-repeat;
  background: -o-linear-gradient(top, #E8E8E8 0, #E8E8E8 50%, #E8E8E8 60%, #D9D9D9 100%) no-repeat;
  background: -ms-linear-gradient(top, #E8E8E8 0, #E8E8E8 50%, #E8E8E8 60%, #D9D9D9 100%) no-repeat;
  background: linear-gradient(top, #E8E8E8 0, #E8E8E8 50%, #E8E8E8 60%, #D9D9D9 100%) no-repeat;
  -svg-background: linear-gradient(top, #E8E8E8 0, #E8E8E8 50%, #E8E8E8 60%, #D9D9D9 100%) no-repeat;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  padding: 0 5px;
  margin: 0 auto;
}

.art-button.hover, .art-button:hover
{
  color: #363636 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #FFFFFF;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #636363;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 8px 0;
  color: #000000 !important;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
}

input.art-error, textarea.art-error
{
  background: #000000;
  border: 1px solid #E2341D;
  margin: 0 auto;
}

input.art-error, textarea.art-error
{
  color: #808080 !important;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.art-search input[type="text"]
{
  background: #292929;
  background: linear-gradient(top, #3D3D3D 0, #3D3D3D 50%, #3B3B3B 60%, #121212 100%) no-repeat;
  background: -webkit-linear-gradient(top, #3D3D3D 0, #3D3D3D 50%, #3B3B3B 60%, #121212 100%) no-repeat;
  background: -moz-linear-gradient(top, #3D3D3D 0, #3D3D3D 50%, #3B3B3B 60%, #121212 100%) no-repeat;
  background: -o-linear-gradient(top, #3D3D3D 0, #3D3D3D 50%, #3B3B3B 60%, #121212 100%) no-repeat;
  background: -ms-linear-gradient(top, #3D3D3D 0, #3D3D3D 50%, #3B3B3B 60%, #121212 100%) no-repeat;
  background: linear-gradient(top, #3D3D3D 0, #3D3D3D 50%, #3B3B3B 60%, #121212 100%) no-repeat;
  -svg-background: linear-gradient(top, #3D3D3D 0, #3D3D3D 50%, #3B3B3B 60%, #121212 100%) no-repeat;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #636363;
  margin: 0 auto;
  width: 100%;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #9E9E9E !important;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.art-search
{
  background-image: none;
  border: 0;
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 5px;
  left: 0;
  line-height: 0;
}

form.art-search input, a.art-search-button
{
  top: 0;
  right: 0;
}

form.art-search>input, a.art-search-button
{
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

form.art-search input[type="submit"], input.art-search-button, a.art-search-button
{
  margin: 0 auto;
}

form.art-search input[type="submit"], input.art-search-button, a.art-search-button
{
  position: absolute;
  left: auto;
  display: block;
  border: none;
  background: url('../images/searchicon.png') center center no-repeat;
  width: 24px;
  height: 100%;
  padding: 0;
  color: #FFFFFF !important;
  cursor: pointer;
}

a.art-search-button span.art-search-button-text
{
  display: none;
}

label.art-checkbox:before
{
  background: #3B3B3B;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-width: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
}

label.art-checkbox
{
  cursor: pointer;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
  color: #000000 !important;
}

.art-checkbox>input[type="checkbox"]
{
  margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
  background: #859306;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-width: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-checkbox.hovered:before
{
  background: #636363;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  border-width: 0;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-radiobutton:before
{
  background: #000000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
}

label.art-radiobutton
{
  cursor: pointer;
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 12px;
  display: inline-block;
  color: #000000 !important;
}

.art-radiobutton>input[type="radio"]
{
  vertical-align: baseline;
  margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
  background: #859306;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

label.art-radiobutton.hovered:before
{
  background: #636363;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 0;
  margin: 0 auto;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.art-comments
{
  border-top: 1px dotted #636363;
  margin: 0 auto;
  margin-top: 25px;
}

.art-comments h2
{
  color: #404040;
}

.art-comment-inner
{
  background: #3B3B3B;
  background: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 5px;
  margin: 0 auto;
  margin-left: 94px;
}

.art-comment-avatar
{
  float: left;
  width: 80px;
  height: 80px;
  padding: 1px;
  background: #fff;
  border: 1px solid #3B3B3B;
}

.art-comment-avatar>img
{
  margin: 0 !important;
  border: none !important;
}

.art-comment-content
{
  padding: 10px 0;
  color: #404040;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-comment
{
  margin-top: 6px;
}

.art-comment:first-child
{
  margin-top: 0;
}

.art-comment-header
{
  color: #404040;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 100%;
}

.art-comment-header a, .art-comment-header a:link, .art-comment-header a:visited, .art-comment-header a.visited, .art-comment-header a:hover, .art-comment-header a.hovered
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 100%;
}

.art-comment-header a, .art-comment-header a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #6F7A05;
}

.art-comment-header a:visited, .art-comment-header a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #7BA701;
}

.art-comment-header a:hover, .art-comment-header a.hovered
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #92A207;
}

.art-comment-content a, .art-comment-content a:link, .art-comment-content a:visited, .art-comment-content a.visited, .art-comment-content a:hover, .art-comment-content a.hovered
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-comment-content a, .art-comment-content a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #6F7A05;
}

.art-comment-content a:visited, .art-comment-content a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #7BA701;
}

.art-comment-content a:hover, .art-comment-content a.hovered
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #92A207;
}

.art-pager
{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #BFBFBF;
  padding: 5px;
}

.art-pager>*:last-child, .art-pager>*:last-child:hover
{
  margin-right: 0;
}

.art-pager>span
{
  cursor: default;
}

.art-pager>*
{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #BFBFBF;
  padding: 7px;
  margin: 0 4px 0 auto;
  position: relative;
  display: inline-block;
  margin-left: 0;
}

.art-pager a:link, .art-pager a:visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #474E03;
}

.art-pager .active
{
  background: #BFBFBF;
  background: linear-gradient(top, #E8E8E8 0, #969696 100%) no-repeat;
  background: -webkit-linear-gradient(top, #E8E8E8 0, #969696 100%) no-repeat;
  background: -moz-linear-gradient(top, #E8E8E8 0, #969696 100%) no-repeat;
  background: -o-linear-gradient(top, #E8E8E8 0, #969696 100%) no-repeat;
  background: -ms-linear-gradient(top, #E8E8E8 0, #969696 100%) no-repeat;
  background: linear-gradient(top, #E8E8E8 0, #969696 100%) no-repeat;
  -svg-background: linear-gradient(top, #E8E8E8 0, #969696 100%) no-repeat;
  border: 2px solid #BFBFBF;
  padding: 7px;
  margin: 0 4px 0 auto;
  color: #2C3102;
}

.art-pager .more
{
  border: 2px solid #BFBFBF;
  margin: 0 4px 0 auto;
}

.art-pager a.more:link, .art-pager a.more:visited
{
  color: #474E03;
}

.art-pager a:hover
{
  background: #EBEBEB;
  background: linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
  background: -webkit-linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
  background: -moz-linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
  background: -o-linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
  background: -ms-linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
  background: linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
  -svg-background: linear-gradient(top, #FFFFFF 0, #A8A8A8 100%) no-repeat;
  border: 2px solid #A8A8A8;
  padding: 7px;
  margin: 0 4px 0 auto;
}

.art-pager  a:hover, .art-pager  a.more:hover
{
  color: #3E4503;
}

.art-pager>*:after
{
  margin: 0 0 0 auto;
  display: inline-block;
  position: absolute;
  content: ' ';
  top: 0;
  width: 0;
  height: 100%;
  right: 0;
  text-decoration: none;
}

.art-pager>*:last-child:after
{
  display: none;
}

.art-commentsform
{
  background: #3B3B3B;
  background: transparent;
  padding: 10px;
  margin: 0 auto;
  margin-top: 25px;
  color: #404040;
}

.art-commentsform h2
{
  padding-bottom: 10px;
  margin: 0;
  color: #404040;
}

.art-commentsform label
{
  display: inline-block;
  line-height: 25px;
}

.art-commentsform input:not([type=submit]), .art-commentsform textarea
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.art-commentsform .form-submit
{
  margin-top: 10px;
}

.art-post
{
  padding: 3px;
  margin: 10px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
  margin: 0 0 0 0;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-post .art-content-layout-br
{
  height: 0;
}

.art-article th, .art-article td
{
  padding: 2px;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.preview-cms-logo
{
  border: 0;
  margin: 1em 1em 0 0;
  float: left;
}

.image-caption-wrapper
{
  padding: 0 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

.art-postheader
{
  color: #1E1616;
  margin: 0;
  font-size: 18px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
}

.art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a.visited, .art-postheader a:hover, .art-postheader a.hovered
{
  font-size: 18px;
  font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
}

.art-postheader a, .art-postheader a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #0F74B8;
}

.art-postheader a:visited, .art-postheader a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #000000;
}

.art-postheader a:hover, .art-postheader a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #808080;
}

.art-postheadericons, .art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  font-size: 20px;
  font-family: 'ITC Avant Garde Gothic Demi', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  color: #141414;
}

.art-postheadericons
{
  padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #000000;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  color: #595959;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-decoration: underline;
  color: #293800;
}

.art-postpdficon:before
{
  content: url('../images/system/pdf_button.png');
  margin-right: 6px;
  bottom: 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postpdficon:before
{
  bottom: 0;
}

.art-postprinticon:before
{
  content: url('../images/system/printButton.png');
  margin-right: 6px;
  bottom: 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postprinticon:before
{
  bottom: 0;
}

.art-postemailicon:before
{
  content: url('../images/system/emailButton.png');
  margin-right: 6px;
  bottom: 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postemailicon:before
{
  bottom: 0;
}

.art-postcontent ul>li:before, .art-post ul>li:before, .art-textblock ul>li:before
{
  content: url('../images/postbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
  bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #141414;
  margin: 10px 0 10px 6px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
  padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
  padding-left: 17px;
}

.art-postcontent ul>li:before, .art-post ul>li:before, .art-textblock ul>li:before
{
  margin-left: -17px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
  margin: 1em 0 1em 6px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
  margin: 0.5em 0 0.5em 6px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
  margin: 10px 0 10px 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #EBEBEB url('../images/postquote.png') no-repeat scroll;
  padding: 10px 10px 10px 38px;
  margin: 10px 10px 10px 50px;
  color: #0F74B8;
  font-size: 16px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  overflow: auto;
  clear: both;
}

blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a, blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link, blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited, blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
  color: #0F74B8;
  font-size: 16px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

blockquote p, .art-postcontent blockquote p, .art-blockcontent blockquote p, .art-footer blockquote p
{
  margin: 0;
  margin: 2px 0 2px 15px;
}

.art-postfootericons, .art-postfootericons a, .art-postfootericons a:link, .art-postfootericons a:visited, .art-postfootericons a:hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  color: #141414;
}

.art-postfootericons
{
  padding: 1px;
}

.art-postfootericons a, .art-postfootericons a:link
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #313602;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #595959;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #293800;
}

.art-footer
{
  background: #3B3B3B;
  background: linear-gradient(top, #575757 0, #1F1F1F 100%) no-repeat;
  background: -webkit-linear-gradient(top, #575757 0, #1F1F1F 100%) no-repeat;
  background: -moz-linear-gradient(top, #575757 0, #1F1F1F 100%) no-repeat;
  background: -o-linear-gradient(top, #575757 0, #1F1F1F 100%) no-repeat;
  background: -ms-linear-gradient(top, #575757 0, #1F1F1F 100%) no-repeat;
  background: linear-gradient(top, #575757 0, #1F1F1F 100%) no-repeat;
  -svg-background: linear-gradient(top, #575757 0, #1F1F1F 100%) no-repeat;
  border-top: 1px dashed transparent;
  margin: 15px auto 0;
  position: relative;
  color: #BABABA;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-align: center;
  padding: 0;
}

.art-footer a, .art-footer a:link, .art-footer a:visited, .art-footer a:hover, .art-footer td, .art-footer th, .art-footer caption
{
  color: #BABABA;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-footer p
{
  margin: 15px 0;
  padding: 0;
  text-align: center;
}

.art-footer a, .art-footer a:link
{
  color: #0F74B8;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #0F74B8;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-footer a:hover
{
  color: #ABABAB;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.art-footer h1
{
  color: #636363;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h2
{
  color: #787878;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h3
{
  color: #859306;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h4
{
  color: #DAFE76;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h5
{
  color: #DAFE76;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer h6
{
  color: #DAFE76;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-footer img
{
  border: 1px dotted #787878;
  margin: 3px;
}

.art-footer-inner
{
  margin: 0 auto;
  width: 950px;
  padding: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.art-rss-tag-icon
{
  background: url('../images/footerrssicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 30px;
  display: inline-block;
  text-indent: 33px;
  background-position: left center;
}

.art-rss-tag-icon:empty
{
  vertical-align: middle;
}

.art-facebook-tag-icon
{
  background: url('../images/footerfacebookicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
}

.art-facebook-tag-icon:empty
{
  vertical-align: middle;
}

.art-twitter-tag-icon
{
  background: url('../images/footertwittericon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
}

.art-twitter-tag-icon:empty
{
  vertical-align: middle;
}

.art-footer ul>li:before
{
  content: url('../images/footerbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -11px;
}

.opera .art-footer ul>li:before
{
  bottom: 0;
}

.art-footer li
{
  font-size: 13px;
  font-family: Tahoma, Arial, Helvetica, Sans-Serif;
  line-height: 125%;
  color: #ABABAB;
}

.art-footer ul>li, .art-footer ol
{
  padding: 0;
}

.art-footer ul>li
{
  padding-left: 11px;
}

.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #D1D1D1;
}

.art-page-footer
{
  position: relative;
  z-index: auto !important;
  padding: 1em;
  text-align: center !important;
  text-decoration: none;
  color: #BDBDBD;
}

.art-lightbox-wrapper
{
  background: #333;
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  padding: 0 100px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1000000;
}

.art-lightbox, .art-lightbox-wrapper .art-lightbox-image
{
  cursor: pointer;
}

.art-lightbox-wrapper .art-lightbox-image
{
  border: 6px solid #fff;
  border-radius: 3px;
  display: none;
  max-width: 100%;
  vertical-align: middle;
}

.art-lightbox-wrapper .art-lightbox-image.active
{
  display: inline-block;
}

.art-lightbox-wrapper .lightbox-error
{
  background: #fff;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  height: 80px;
  opacity: .95;
  padding: 20px;
  position: fixed;
  width: 300px;
  z-index: 100;
}

.art-lightbox-wrapper .loading
{
  background: #fff url('../images/preloader-01.gif') center center no-repeat;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  height: 32px;
  opacity: .5;
  padding: 10px;
  position: fixed;
  width: 32px;
  z-index: 10100;
}

.art-lightbox-wrapper .arrow
{
  cursor: pointer;
  height: 100px;
  opacity: .5;
  filter: alpha(opacity=50);
  position: fixed;
  width: 82px;
  z-index: 10003;
}

.art-lightbox-wrapper .arrow.left
{
  left: 9px;
}

.art-lightbox-wrapper .arrow.right
{
  right: 9px;
}

.art-lightbox-wrapper .arrow:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.art-lightbox-wrapper .arrow.disabled
{
  display: none;
}

.art-lightbox-wrapper .arrow-t, .art-lightbox-wrapper .arrow-b
{
  background-color: #fff;
  border-radius: 3px;
  height: 6px;
  left: 26px;
  position: relative;
  width: 30px;
}

.art-lightbox-wrapper .arrow-t
{
  top: 38px;
}

.art-lightbox-wrapper .arrow-b
{
  top: 50px;
}

.art-lightbox-wrapper .close
{
  cursor: pointer;
  height: 22px;
  opacity: .5;
  filter: alpha(opacity=50);
  position: fixed;
  right: 39px;
  top: 30px;
  width: 22px;
  z-index: 10003;
}

.art-lightbox-wrapper .close:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.art-lightbox-wrapper .close .cw, .art-lightbox-wrapper .close .ccw
{
  background-color: #fff;
  border-radius: 3px;
  height: 6px;
  position: absolute;
  left: -4px;
  top: 8px;
  width: 30px;
}

.art-lightbox-wrapper .cw
{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.art-lightbox-wrapper .ccw
{
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.art-lightbox-wrapper .close-alt, .art-lightbox-wrapper .arrow-right-alt, .art-lightbox-wrapper .arrow-left-alt
{
  color: #fff;
  display: none;
  font-size: 2.5em;
  line-height: 100%;
}

.ie8 .art-lightbox-wrapper .close-alt, .ie8 .art-lightbox-wrapper .arrow-right-alt, .ie8 .art-lightbox-wrapper .arrow-left-alt
{
  display: block;
}

.ie8 .art-lightbox-wrapper .cw, .ie8 .art-lightbox-wrapper .ccw
{
  display: none;
}

.art-content-layout .art-content
{
  margin: 0 auto;
}

fieldset
{
  border: none;
}

fieldset dl
{
  display: block;
  margin: 0;
  padding: 0;
  background: none;
}

fieldset dt
{
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 12em;
  height: 2em;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  background: none;
  line-height: 2em;
  overflow: hidden;
}

fieldset dd
{
  display: block;
  min-height: 2em;
  margin: 0 0 0 12em;
  padding: 0;
  background: none;
  line-height: 2em;
}

fieldset label
{
  display: inline-block;
  width: 12em;
}

fieldset textarea
{
  vertical-align: text-top;
}

.img-fulltext-left, .img-intro-left
{
  float: left;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0.3em 0.3em 0;
  margin-top: 0;
}

.img-fulltext-right, .img-intro-right
{
  float: right;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0 0.3em 0.3em;
  margin-top: 0;
}

ul.pagenav
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

ul.pagenav li, ul.pagenav li:before
{
  display: block;
  background: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-align: center;
  content: normal;
}

ul.pagenav li.pagenav-prev
{
  float: left;
}

ul.pagenav li.pagenav-next
{
  margin: 0 0 0 50%;
}

div.item-page dl.tabs
{
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page dl.tabs:before
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: 1em;
  height: 2em;
  overflow: hidden;
}

div.item-page dl.tabs dt
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  height: 2em;
  overflow: hidden;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

div.item-page dl.tabs dt h3
{
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  font-size: 100%;
  overflow: hidden;
}

div.item-page dl.tabs dt h3 a
{
  text-decoration: none;
}

div.item-page dl.tabs:after
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  border-left: 1px solid black;
  content: " ";
  overflow: hidden;
  height: 2em;
}

div.item-page div.current
{
  clear: both;
  border: 1px solid black;
}

div.item-page div.current dd.tabs
{
  margin: 0;
  padding: 0;
}

div.item-page .panel
{
  border: 1px solid black;
  margin-top: -1px;
}

div.item-page .panel h3
{
  margin: 0;
  padding: 0;
}

div.item-page .panel h3 a
{
  display: block;
  padding: 6px;
  text-decoration: none;
}

div.item-page .panel h3.pane-toggler-down a
{
  border-bottom: 1px solid black;
}

div.item-page .panel .pane-slider
{
  margin: 0;
  padding: 0;
}

div.item-page div.pagination ul
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page div.pagination li
{
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  white-space: nowrap;
}

div.item-page div.pagination:after
{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#searchForm .phrases-box
{
  display: block;
  float: left;
}

#searchForm .ordering-box
{
  text-align: right;
}

#searchForm .phrases-box label, #searchForm .ordering-box label, #searchForm .only label
{
  display: inline-block;
  width: auto;
  height: 2em;
  margin: 0;
  padding: 0 0.3em;
}

#mod-finder-searchform label
{
  display: block;
}

#mod-finder-searchform input.inputbox
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

#login-form fieldset label
{
  width: 100%;
}

#login-form #form-login-username label, #login-form #form-login-password label
{
  display: block;
}

#login-form #form-login-username input, #login-form #form-login-password input
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

.breadcrumbs img
{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

dl.stats-module
{
  padding: 0.3em 0 0.3em 0.3em;
  margin: 0;
}

dl.stats-module dt
{
  float: left;
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  width: 10em;
  padding: 0.3em 0.3em 0 0;
  margin: 0;
  font-weight: bold;
}

dl.stats-module dd
{
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  margin: 0 0 0 10em;
}

div.mod-languages ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.mod-languages li
{
  background: none;
  margin: 0 0.3em;
  padding: 0;
}

div.mod-languages ul.lang-inline li
{
  display: inline;
}

div.mod-languages ul.lang-block li
{
  display: block;
}

div.mod-languages img
{
  border: none;
  margin: 0;
  padding: 0;
}

div.clr
{
  clear: both;
}

#system-message ul li
{
  background-image: none;
}

ul.actions, ul.actions li, ul.actions li img
{
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

ul.actions li
{
  background: none;
  list-style: none;
}

.items-row
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.items-row .item
{
  display: table-cell;
  vertical-align: top;
}

.items-row .row-separator
{
  display: none;
}

div.pagination p.counter
{
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding: 0;
  background: none;
}

div.pagination ul, div.pagination ul li, div.pagination ul > li:before
{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 0.3em;
  background: none;
  content: normal;
}

div.tip-wrap
{
  background: #fff;
  border: 1px solid #aaa;
}

div.tip-wrap div.tip
{
  padding: 0.3em;
}

div.tip-wrap div.tip-title
{
  font-weight: bold;
}

table.category
{
  width: 100%;
}

table.category thead th img
{
  padding: 0 0 0 0.3em;
  margin: 0;
  border: none;
}

span.hasTip a img
{
  padding: 0;
  margin: 0;
  border: none;
}

div.categories-list ul li span.item-title, div.cat-children ul li span.item-title
{
  display: block;
  margin: 0 0 0.3em 0;
}

div.categories-list ul li div.category-desc, div.cat-children ul li div.category-desc
{
  margin: 0 0 0.3em 0;
}

div.categories-list dl, div.cat-children dl
{
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background: none;
}

div.categories-list dl dt, div.cat-children dl dt, div.categories-list dl dd, div.cat-children dl dd
{
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
}

div.img_caption p.img_caption
{
  padding: 0.3em 0;
  margin: 0;
}

form .search label, form .finder label
{
  display: none;
}

.cols-2 .column-1, .cols-2 .column-2, .cols-3 .column-1, .cols-3 .column-2, .cols-3 .column-3
{
  float: left;
  clear: right;
}

.cols-2 .column-1
{
  width: 50%;
}

.cols-2 .column-2
{
  width: 50%;
}

.cols-3 .column-1
{
  width: 33%;
}

.cols-3 .column-2
{
  width: 33%;
}

.cols-3 .column-3
{
  width: 34%;
}

.row-separator
{
  clear: both;
  float: none;
  font-size: 1px;
  display: block;
}

ul.categories-module li h1, ul.categories-module li h2, ul.categories-module li h3, ul.categories-module li h4, ul.categories-module li h5, ul.categories-module li h6
{
  display: inline;
}

.only, .phrases
{
  border: solid 1px #ccc;
  margin: 10px 0 0 0px;
  padding: 15px;
  line-height: 1.3em;
}

/* Begin Additional CSS Styles */
.art-nav-inner{
width:100% !important}

.viaggi{
	padding-left: 5px !important;
    width: 80px !important; 
	border-bottom: 2px;
    border-bottom-color:#126743;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.sport

{max-width: 80px !important;
line-height: 1 !important;
padding-top: 28px !important;
    border-bottom-width: 3px;
    border-bottom: 2px;
    border-bottom-color:#ee8b2f;
    border-bottom-width: 2px;
    border-bottom-style: solid;
max-height: 43px !important;
padding-left: 5px !important;
}
.benessere{
	width: 80px !important;
    border-bottom: 2px;
    border-bottom-color:#8c93b8;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	padding-left: 5px !important;
}
.sapori{
	width: 80px !important;
    border-bottom: 2px;
    border-bottom-color:#c72929;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	padding-left: 5px !important;
}
.vsapori
{max-width: 80px !important;
line-height: 1 !important;
padding-top: 28px !important;
    border-bottom-width: 3px;
    border-bottom: 2px;
    border-bottom-color: #7b284c;
    border-bottom-width: 2px;
    border-bottom-style: solid;
max-height: 43px !important;
padding-left: 5px !important;
}
.multiactivity{
	width: 80px !important;
    border-bottom: 2px;
    border-bottom-color:#007cab;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	padding-left: 5px !important;
}
.coupon{
	width: 80px !important;
    border-bottom: 2px;
    border-bottom-color:#a5a5a5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	padding-left: 5px !important;
}
.pacchetti
{max-width: 80px !important;
line-height: 1 !important;
padding-top: 28px !important;
    border-bottom-width: 3px;
    border-bottom: 2px;
    border-bottom-color: #d6cfcf;
    border-bottom-width: 2px;
    border-bottom-style: solid;
max-height: 43px !important;
padding-left: 5px !important;
}
#txmod_104{width: 489px}
/* End Additional CSS Styles */