.no-link {color: black;}
.no-link:hover {color: black;}

#accomodation-container-div {
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%
}

#accomodation-div{
    /*border: solid 1px black;*/
    width: 290px;
    height: 478px;
    float: left;
    margin: 8px;
}

#accomodation-div #title{
    margin: 10px;
    height: 60px;
    font-weight: bold;
    font-size: large;
}

#accomodation-div #photo{
    margin: 10px;
    height: 186px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#accomodation-div #text{

    margin: 10px;
    height: 186px;
    overflow-y: auto;
    overflow-x: hidden;
}


/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.mb-title {
    font-family: 'Open Sans', sans-serif;
    color: #126843;
    font-size: 20pt;
    margin: 0 0 15px;
}

.mb-shortdescription {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin: 0 0 15px;
}

.mb-longdescription {
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 0 15px;
}

.mb-price {
    font-weight: bold;
    font-size: 14pt;
}

.mb-pricecurrency {
    font-weight: bold;
    font-size: 18pt;
    color: #00A4E1;
}

.mb-addtocart-button {
    width: 152px;
    background: #e8e8e8 url(../images/vmgeneral/backgrounds.png) top repeat-x;
    background-position: 0 -160px;
    color: #fff;
    border: solid #00a000 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    height: 34px;
    text-align: center;
    letter-spacing: 1px;
    padding: 4px 5px;
}