.slideShow_content {
    margin: 0 auto;
    position:relative;
    border: 1px solid #3c3217;
}

div.content_slideshow {
    margin:0 auto;
    overflow:hidden;
    position:relative;
}

div.content_slideshow div.contentBoxWrapper{
    position:relative;
}



div.content_slideshow div.readmore {
    position:absolute;
    bottom:5px;
    right:10px;
}

div.content_slideshow div.readmore a{
    text-decoration:none;
    font-weight:bold;
    margin:5px 10px 0 0;
}


div.content_slideshow .slide_show_header h3, div.content_slideshow div.readmore a  {
    font-family: Arial, Helvetica, sans-serif;
}

div.content_slideshow .slide_show_header h3 {
    padding: 0;
    margin:0;
    overflow:hidden;
}

div.content_slideshow div.navBar {
    position:absolute;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity:0.8;
    bottom:0;
    width:100%;
}

div.content_slideshow div.navBar div.center_nav {
    width:auto;
    margin:0;
    padding:0;
    text-align:center;
    position:relative;
}
div.content_slideshow  a.previous, div.content_slideshow  a.next {
    width:50px;
    text-decoration:none;
    cursor:pointer;
    height:100%;
    position: absolute;
    top:0;
    z-index: 100;
}

div.content_slideshow  a.previous {
     left:4px;   
}
div.content_slideshow  a.next {
    right:4px;
}

div.content_slideshow  a.previous:hover {
    background:url('images/nav_arrows.png') no-repeat scroll left 50% transparent; 
}
div.content_slideshow  a.next:hover {
    background:url('images/nav_arrows.png') no-repeat scroll right 50% transparent;
}
div.content_slideshow div.navBar ul {
    display:inline;
    padding:0;
    margin:0;
}

div.content_slideshow div.navBar ul.numbers {
    color:#B9B8BD;
    font-weight:bold;
    list-style-type:none;
}

div.content_slideshow div.navBar ul li {
    display:inline-block;
    text-align: center;
    color:#c0784e;
    cursor:pointer;
    margin: 0 2px;
    padding:0;
    background-image:none;
    line-height:16px;
    height:16px;
    cursor:pointer;
   

}

div.content_slideshow div.navBar ul.numbers li{
    font-size:12px;
     width:12px;
}

div.content_slideshow div.navBar ul.dots li {
    height:16px;
    margin: 3px 2px 0;
    width:16px;
}


div.content_slideshow div.navBar ul.numbers li.button_img {
    color:#c0784e;

}
div.content_slideshow div.navBar ul.numbers li.button_img_selected {
    color:#FFFFFF;
    cursor: default;
}
div.content_slideshow div.navBar ul.dots li.button_img_selected {
    cursor: default;
}

div.content_slideshow div.navBar ul.dots li.button_img {
    background:url('images/small_dots.png') right 0 no-repeat;

}

div.content_slideshow div.navBar ul.dots li.button_img:hover {
    background:url('images/small_dots.png') 50% 0 no-repeat;

}

div.content_slideshow div.navBar ul.dots li.button_img_selected {
    background:url('images/small_dots.png')left 0 no-repeat;
}

div.contentBoxWrapper {
    overflow:hidden;
}

div.contentBoxWrapper .content-box {
    position:relative;
}

div.contentBoxWrapper .textContent p a {
    text-decoration:none;
    font-weight:bold;
}

div.textContent {
    margin:8px ;
    overflow:hidden;
}

div.contentError {
    margin:10px auto;
    text-align: center;
    font-weight: bold;
    color:#C00;
}