/**
 * @package XpertScroller
 * @version 3.8
 * @author ThemeXpert http://www.themexpert.com
 * @copyright Copyright (C) 2009 - 2011 ThemeXpert
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 *
 */
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after { clear: both; }

/*
    root element for the scrollable.
    when scrolling occurs this element stays still.
*/
.scroller {
    /* required settings */
    position:relative;
    overflow:hidden;
    /* custom decorations */
}

.scroller .items {
    /* this cannot be too large */
    position:absolute;
    clear:both;
}

.item:hover{background: #f5f5f5;}
.padding{padding: 10px;}
.scroller .item{padding:0}
.item h4{font-size: 15px; margin: 5px 0;}
.item h4 a{text-decoration: none;}
.item .xs_category{ font-size: 12px; color: #999;}
.xs_intro{font-size: 12px;}

/* single scrollable item */
/*@media (max-width: 767px)  {
    .scroller img {width: 100% !important;}
}*/
/*Image postion left*/
img.left{float: left; margin-right: 15px; height: 100%;}
/*Image postion right*/
img.right{float: right; margin-left: 15px; height: 100%;}

/* active item */
.scroller .items .active {
    position:relative;
    cursor:default;
}
.cloned { display: none;}
/*Navigation Button common class*/
a.browse {
    background:url(../img/hori_large.png) no-repeat -2px -1px;
    display:inline-block;
    width:30px;
    height:30px;
    cursor:pointer;
    font-size:1px;
}
/*Basic Horizontal Style*/
.basic_h .items .pane {float:left;}
.basic_h .pane .item{float: left;}

/* this makes it possible to add next button beside scrollable */
.basic_h .scroller {display: inline-block; vertical-align: top;}

/* right */
.basic_h a.next            { background-position: -2px -34px; clear:right; margin-right: 0px;}
.basic_h a.next:hover      { background-position: -37px -34px; }
.basic_h a.next:active     { background-position: -37px -34px; }

/* left */
.basic_h a.prev            { margin-left: 0px; } 
.basic_h a.prev:hover      { background-position: -37px -1px; }
.basic_h a.prev:active     { background-position: -37px -1px; }

/*Basic Vertical Style*/
/* prev, next, prevPage and nextPage buttons */
.basic_v .items{ width: 100%; }
.basic_v a.browse{margin: 5px auto; display: block;}
.basic_v .scroller{margin: 0 auto;}

/* up and down */
.basic_v a.next, .basic_v a.prev        { 
    background:url(../img/vert_large.png) no-repeat -2px -1px;
    float: none;
}

/* up */
.basic_v a.prev:hover      { background-position: -37px -1px; }
.basic_v a.prev:active     { background-position: -37px -1px; }

/* down */
.basic_v a.next            { background-position: -2px -34px; }
.basic_v a.next:hover      { background-position: -37px -34px; }
.basic_v a.next:active     { background-position: -37px -34px; }


/* disabled navigational button */
a.disabled                 {visibility:hidden !important;}     

/* position and dimensions of the navigator */
.navi {
    height:24px;
    text-align: center;
    margin: 3px 0;
}
/* items inside navigator */
.navi a {
    width:19px;
    height:20px;
    margin:0 1px;
    background:url(../img/navigator.png) 0 3px no-repeat;
    display:inline-block;
    vertical-align: top;
    font-size:1px;
    cursor: pointer;
}
/* mouseover state */
.navi a:hover {background-position:0 -16px;}
/* active state (current page state) */
.navi a.active {background-position:0 -35px;}