/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

input[type=button]
{
    width: 150px;
    height: 40px;
}

#code_text
{
    width: 50%;    
    margin: 15px;
}

#verify
{

}

#verify_div
{
    margin: 15px;
}

#main_wrapper
{

}

#code_wrapper
{
    width: 70%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 0 auto;
}

#valid_response_div
{
    background-color: #cccccc;
    padding: 30px;
}

#confirmed_response_div
{
    background-color: #9AC23E;
    padding: 30px;
}

#requests_response_div
{
    background-color: #cccccc;
    padding: 30px;
}

#expired_response_div
{
    background-color: #FEA821;
    padding: 30px;
}

#continue_btn
{
    position: relative;
    bottom: 0px;
    right: 0px;
}

.error
{
    color: red;
    display: none;
    text-align: center; 
    font-weight: bold;
}

.bold
{
    font-weight: bold;
}

.box-desc
{
    min-height: 40px;
}

.left
{
    float:left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}