/* Begin Additional CSS Styles */
.art-nav-inner{
width:100% !important}

.viaggi{
	padding-left: 5px !important;
    width: 80px !important; 
	border-bottom: 2px;
    border-bottom-color:#126743;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.sport

{max-width: 80px !important;
line-height: 1 !important;
padding-top: 28px !important;
    border-bottom-width: 3px;
    border-bottom: 2px;
    border-bottom-color:#ee8b2f;
    border-bottom-width: 2px;
    border-bottom-style: solid;
max-height: 43px !important;
padding-left: 5px !important;
}
.benessere{
	width: 80px !important;
    border-bottom: 2px;
    border-bottom-color:#8c93b8;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	padding-left: 5px !important;
}
.sapori{
	width: 80px !important;
    border-bottom: 2px;
    border-bottom-color:#c72929;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	padding-left: 5px !important;
}
.vsapori
{max-width: 80px !important;
line-height: 1 !important;
padding-top: 28px !important;
    border-bottom-width: 3px;
    border-bottom: 2px;
    border-bottom-color: #7b284c;
    border-bottom-width: 2px;
    border-bottom-style: solid;
max-height: 43px !important;
padding-left: 5px !important;
}
.multiactivity{
	width: 80px !important;
    border-bottom: 2px;
    border-bottom-color:#007cab;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	padding-left: 5px !important;
}
.coupon{
	width: 80px !important;
    border-bottom: 2px;
    border-bottom-color:#a5a5a5;
    border-bottom-width: 2px;
    border-bottom-style: solid;
	padding-left: 5px !important;
}
.pacchetti
{max-width: 80px !important;
line-height: 1 !important;
padding-top: 28px !important;
    border-bottom-width: 3px;
    border-bottom: 2px;
    border-bottom-color: #d6cfcf;
    border-bottom-width: 2px;
    border-bottom-style: solid;
max-height: 43px !important;
padding-left: 5px !important;
}

/* End Additional CSS Styles */