.float-left{
    float:left;
}
.float-right{
    float:right;
}

.float-clear{
    clear:both;
}

.no-link{
    color: black !important;
    text-decoration: underline!important;
}
.no-link:hover{color: black !important;}

.section-title{
    font-weight: bold;
    font-size: 14pt;
    margin-bottom: 20px;
}

#movebox-title{
    overflow: auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

#images-slider{
    width: 620px;
    height: 450px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#movepass{
    width: 280px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#title-name {
    color: #126843;
    font-size: 18pt;
}

#slide{
    width: 620px; 
    height: 430px; 
    background-size: cover;
    background-position: center center;
}

#title-address{
    margin: 5px;
    font-style: italic;
}

#movebox-middle{
    /*margin-top: 20px;*/
}

#description{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#website{
    margin: 5px;
}

hr{
    margin-top: 20px;
    margin-botom: 20px;
}

#facilities{
    float: left;
    margin-left: 5px;
    width: 200px;
}

#map{
    width: 460px;
    float: left;
    margin-left: 5px;
}

#google-map{
    width: 460px;
    height: 320px;
}

#address-contacts{
    margin-left: 20px;
    float:left;
}

#contacts{
    margin-top: 20px;
}





